<mat-card>
  <h2><span class="mw-headline" id="Setup">Setup</span></h2>
  <h3><span class="mw-headline" id="Basic_Setup">Basic Setup</span></h3>
  <p>Both <a title="Player">players</a> perform these activities to set up the beginning of a game:
  </p>
  <p><b>The following are basic rules and must be followed</b>
  </p>
  <ul>
    <li><a title="Shuffle">Shuffle</a> your <a title="Deck">deck</a>.</li>
    <li>Take 5 <a title="Card">cards</a> from the top of your deck without looking at them and put them in a row in
      front of you face down. These face-down cards are your <a title="Shield">shields</a>.
    </li>
    <li><a title="Draw">Draw</a> 5 cards from the top of your deck.</li>
    <li>Decide who goes first by a randomly decided process.
      <ul>
        <li>This can be done as a coin toss, a dice roll or via <a title="Rock-Paper-Scissors">Rock-Paper-Scissors</a>.
        </li>
      </ul>
    </li>
  </ul>
  <div class="center">
    <div class="floatnone"><a
      href="https://static.wikia.nocookie.net/duelmasters/images/6/63/Playmat.jpg/revision/latest?cb=20100322133635"
      class="image" title="Gameplay Mat"><img alt="Gameplay Mat"
                                              src="https://static.wikia.nocookie.net/duelmasters/images/6/63/Playmat.jpg/revision/latest/scale-to-width-down/600?cb=20100322133635"
                                              decoding="async" data-image-name="Playmat.jpg"
                                              data-image-key="Playmat.jpg" width="600" height="154"></a></div>
  </div>
  <h3><span class="mw-headline" id="Advanced_Setup">Advanced Setup</span></h3>
  <p><b>Complete these following advanced steps below if you have these card types in your deck</b>
  </p>
  <ul>
    <li><b><a title="Psychic">Psychic</a> / <a title="Dragheart">Dragheart</a></b>
      <ul>
        <li>Separate all <a title="Psychic Creature">Psychic Creatures</a> and <a title="Dragheart">Draghearts</a> in
          your <a title="Deck">deck</a> and put them into the <a title="Hyperspatial Zone">Hyperspatial Zone</a> if you
          have any.
        </li>
      </ul>
    </li>
    <li><b><a title="Forbidden (supertype)">Forbidden</a></b>
      <ul>
        <li>Put all <a title="Forbidden Impulse">Forbidden Impulses</a> or <a title="Final Forbidden Field">Final
          Forbidden Fields</a> into the zone dictated by the card. If it's in the <a class="mw-redirect"
                                                                                     title="Battle zone">battle zone</a>,
          put multiple <a title="Seal">seals</a> from the top of your deck on it dictated by the card.
        </li>
      </ul>
    </li>
    <li><b><a title="Gacharange">Gacharange</a></b>
      <ul>
        <li>Put all <a title="Gacharange Creature">Gacharange Creatures</a> into the <a title="Super Gacharange Zone">Super
          Gacharange Zone</a>. You must have either 0 or 12 cards exactly to use this zone. It is shuffled at the
          beginning of the game.
        </li>
      </ul>
    </li>
  </ul>
  <h2><span class="mw-headline" id="How_to_Win">How to Win</span></h2>
  <p><a title="Attack">Attack</a> your <a title="Opponent">opponent</a> with your <a title="Creature">creatures</a>.
    Each time one of your creatures attacks your opponent and isn't <a title="Block">blocked</a>, it breaks one or more
    of the opponent's <a title="Shield">shields</a>.
  </p>
  <p>You win the game when you attack your opponent with a creature that isn't blocked (or <a title="Attack Bend">attack
    bended</a>) or removed when they have no shields left.
  </p>
  <p>You can also win the game when your opponent has no cards left in their deck or they would draw their last card.
  </p>
  <p><a title="Template:Alternate Win Condition">Some cards</a> will
    enable you to win the game via their <a title="Effect">effects</a>.
  </p>
  <h2><span class="mw-headline" id="Turn_Order"><a title="Step">Turn Order</a></span></h2>
  <p><b>1. Start your turn.</b>
  </p>
  <ul>
    <li>Don't do anything during this step of your turn if you don't have any <a class="mw-redirect"
                                                                                 title="Tap">tapped</a> creatures in the
      <a class="mw-redirect" title="Battle zone">battle zone</a> or tapped cards in your <a class="mw-redirect"
                                                                                            title="Mana zone">mana
        zone</a>. Tapped cards are cards that you turned sideways on a previous turn to show you used them for
      something. You won't usually have any tapped cards until you have already played a couple turns of the game. If
      you have any tapped cards, <a class="mw-redirect" title="Untap">untap</a> them now to show that you get to use
      those cards again this turn. After this, <a title="Effect">effects</a> that happen at the start of the turn
      trigger.
    </li>
  </ul>
  <p><b>2. Draw a card.</b>
  </p>
  <ul>
    <li>Only the person who plays first skips drawing a card on his first turn. Drawing a card means taking it from the
      top of your deck and putting it into your hand. As soon as you draw the last card of your deck, you lose.
    </li>
  </ul>
  <p><b>3. Put a card from your hand into your mana zone.</b>
  </p>
  <ul>
    <li>You can put only 1 card (of any type) into your <a class="mw-redirect" title="Mana zone">mana zone</a> from your
      <a title="Hand">hand</a> each turn, unless a <a title="Spell">spell</a> or effect allows you to put more. You
      don't have to put a card into your mana zone each turn if you don't want to. There's no limit to the number of
      cards you can have in your mana zone.
    </li>
    <li>Put the card into your mana zone upside down so you can read its <a title="Mana Number">mana number</a>. Cards
      in your mana zone can give you mana to use. <a title="Mana">Mana</a> is used to summon creatures, cast spells,
      generate cross gear, and put castles into your shield zone. Cards in your mana zone can't do anything but give you
      mana. Ignore all the text on them except for their mana value (and any <a title="Mana Reburst">Mana Reburst</a>
      abilities).
    </li>
  </ul>
  <p><b>4. Play cards.</b>
  </p>
  <ul>
    <li>You can play as many <a title="Creature">creatures</a>, <a title="Spell">spells</a>, <a class="mw-redirect"
                                                                                                title="Cross gear">cross
      gear</a>, <a title="Castle">castles</a> and <a title="Aura">auras</a> as your mana zone can afford during this
      step. You can play any card in any order.
    </li>
  </ul>
  <p><b>5. Attack with your creatures</b>
  </p>
  <ul>
    <li>You can <a title="Attack">attack</a> with your <a title="Creature">creatures</a> in the <a class="mw-redirect"
                                                                                                   title="Battle zone">battle
      zone</a>. You can't attack with creatures you just put into the <a class="mw-redirect" title="Battle zone">battle
      zone</a> this turn because they have <a class="mw-redirect" title="Summoning sickness">summoning sickness</a>. As
      many of your creatures as you want can attack each turn. Choose one, have it attack, choose another one, have that
      one attack, and so on.
    </li>
    <li>You can't summon creatures, cast spells, generate or cross cross gear, or fortify shields with castles after one
      of your creatures attacks.
    </li>
  </ul>
  <p><b>6. End your turn.</b>
  </p>
  <ul>
    <li>Tell your opponent that you are finished with your turn. Now it's your opponent's turn! Continue taking turns
      until one of you <a title="How to Play">wins the game</a>.
    </li>
  </ul>
  <h2><span class="mw-headline" id="How_to_use_the_Card_Types">How to use the <a title="Card Type">Card Types</a></span>
  </h2>
  <h3><span class="mw-headline" id="How_to_cast_a_Spell">How to cast a Spell</span></h3>
  <p>Choose a <a title="Spell">spell</a> from your <a title="Hand">hand</a>. The <a title="Cost">cost</a> for a spell is
    in the upper left corner. If you can't pay the cost, you can't cast the spell. You pay a spell's cost by tapping
    cards in your <a class="mw-redirect" title="Mana zone">mana zone</a> for <a title="Mana">mana</a>. At least 1 of the
    mana you tapped must be the same <a title="Civilization">civilization</a> as the spell you cast. Example: To cast a
    nature spell that costs 4, tap at least 1 nature card in your mana zone. The other 3 cards you tap may be of any
    civilization.
  </p>
  <p>After you pay for a spell, do what it says. If you can't do everything it says, that's okay. Just do as much as you
    can. Then put the spell into your <a title="Graveyard">graveyard</a>. Keep your graveyard face up next to your <a
      title="Deck">deck</a>.
  </p>
  <h3><span class="mw-headline" id="How_to_summon_a_Creature">How to summon a Creature</span></h3>
  <p>Choose a <a title="Creature">creature</a> from your <a title="Hand">hand</a>. The <a title="Cost">cost</a> for a
    creature is in the upper left corner. If you can't pay the cost, you can't summon the creature. You pay a creature's
    cost by tapping cards in your <a class="mw-redirect" title="Mana zone">mana zone</a> for <a title="Mana">mana</a>.
    At least 1 of the mana must be the same <a title="Civilization">civilization</a> as the creature. After you pay for
    a creature, put it into the battle zone. There's no limit to the number of creatures you can have in the <a
      class="mw-redirect" title="Battle zone">battle zone</a>. Creatures can't <a title="Attack">attack</a> on the turn
    you put them into the battle zone because they have <a title="Summoning Sickness">Summoning Sickness</a>. They will
    be able to attack your next turn.
  </p>
  <h3><span class="mw-headline" id="How_to_summon_an_Evolution_Creature">How to summon an Evolution Creature</span></h3>
  <p>An <a class="mw-redirect" title="Evolution creature">evolution creature</a> is a special kind of creature that was
    introduced in <a title="DM-02">DM-02</a>. Summoning an evolution creature works just like
    summoning a regular creature except you can summon an evolution creature only when you have the correct kind of
    creature already in the battle zone. The evolution creature tells you what kind of creature you need to have.
  </p>
  <p>Once you summon an evolution creature, put it on top of the creature it "evolves" from. Leave that creature
    underneath the evolution creature, but ignore it. Only the evolution creature's name, abilities, civilization, and
    power are important. Evolution creatures don't get summoning sickness even if the creature they evolved from had
    summoning sickness, so you can attack immediately after you put them into the battle zone. There's no limit to the
    number of evolution creatures you can put on top of each other.
  </p>
  <p>If an evolution creature is moved from the battle zone to anywhere else, the whole pile of cards moves, not just
    the evolution creature on top. As long as the evolution creature is in play, it and the card it evolved from count
    as only one card. As soon as the pile ends up somewhere other than the battle zone, they are separate cards again.
    So if a spell makes you put your evolution creature into your mana zone, you get that many separate cards in your
    mana zone.
  </p>
  <p>An Evolution Creature stays in the battle zone if it somehow loses the cards that were under it. This is important
    as some Evolution Creatures can remove the cards under themselves for an ability (usually <a title="Meteorburn">Meteorburn</a>).
  </p>
  <h3><span class="mw-headline" id="How_to_generate_or_cross_a_Cross_Gear">How to generate or cross a Cross Gear</span>
  </h3>
  <p>A <a title="Cross Gear">Cross Gear</a> is a card that can be attached to your creatures. Cross Gear are generated
    by paying their cost, but they don't give any abilities then unless stated otherwise. Cross Gear remain in the
    battle zone, even when the creature it was crossed onto leaves the battle zone.
  </p>
  <p>To attach a creature to a cross gear, <a title="Cross">cross</a> the cross gear by paying its mana cost a second
    time after it has been generated, and choose the creature to be crossed with. The creature will then gain the
    abilities as listed on the cross gear. A crossed cross gear can also be transferred to another creature by paying
    its mana cost again. There is no limit on the number of cross gear that can be crossed onto a single creature.
  </p>
  <p>Some cross gear have the <a title="Shield Trigger Cross">Shield Trigger Cross</a> ability. When put into your hand
    from the shield zone, you can generate the cross gear and cross it onto one of your creatures immediately at no
    cost.
  </p>
  <h3><span class="mw-headline" id="How_to_fortify_a_Castle">How to fortify a Castle</span></h3>
  <p>A <a title="Castle">Castle</a> allows players to <a title="Fortify">fortify</a> the castle directly to a shield. A
    castle card gets its ability after it is attached to the shield while the shield is still in the shield zone and
    some castles protect the fortified shield from being broken in exchange for a different shield.
  </p>
  <h3><span class="mw-headline" id="How_to_use_a_Psychic_Creature">How to use a Psychic Creature</span></h3>
  <p><a title="Psychic Creature">Psychic Creatures</a> are placed in your <a title="Hyperspatial Zone">Hyperspatial
    Zone</a> at the start of the game. To put a psychic creature into the battle zone you must have a card with an
    ability that has an effect that tells you to put a Psychic Creature into the battle zone, such as a <a
      class="mw-redirect" title="Psychic creature">Hyperspatial</a>
    spell. They usually have <a title="Civilization">Civilization</a> or <a title="Cost">Cost</a> limits. Despite them
    having a mana cost, you can't put them into the battle zone by paying its printed cost.
  </p>
  <p>When a Psychic Creature would leave the battle zone, it is returned to your <a title="Hyperspatial Zone">Hyperspatial
    Zone</a> instead. However, for other card effects' reference, the Psychic Creature still briefly enters whatever
    zone it was trying to move to before it returned to its owner's hyperspatial zone.
  </p>
  <p>Some psychic creatures feature a <a title="Psychic Link">Psychic Link</a> ability. At the start of your turn, you
    can <a title="Psychic Link">link</a> together with two or more Psychic Creatures to <a title="Awaken">awaken</a>
    them into a <a title="Psychic Super Creature">Psychic Super Creature</a>.
  </p>
  <p>Certain Psychic Super Creatures also feature the <a title="Link Release">Link Release</a> ability. When a Psychic
    Super Creature with Link Release would move to a different zone, only one card (or <a class="mw-redirect"
                                                                                          title="Psychic cell">psychic
      cell</a>) of the combined creature is moved (before immediately returning to its owner's <a
      title="Hyperspatial Zone">Hyperspatial Zone</a>) with the rest of the <a class="mw-redirect" title="Psychic cell">psychic
      cells</a> flipped over to their unawakened state.
  </p>
  <p>Note that a Psychic Creature is not summoned but is instead "put" into the battle zone; you can't summon it like a
    regular creature by paying its mana cost.
  </p>
  <h3><span class="mw-headline" id="How_to_use_a_Dragheart_card">How to use a <a
    title="Dragheart">Dragheart</a> card</span></h3>
  <p>Draghearts are placed in your <a title="Hyperspatial Zone">Hyperspatial Zone</a> at the start of the game. To put a
    dragheart into the battle zone you must have a card with an ability that has an effect that tells you to put a
    Dragheart into the battle zone, usually of the <a title="Draguner">Draguner</a> race. They usually have <a
      title="Civilization">Civilization</a> or <a title="Cost">Cost</a> limits. Despite them having a mana cost, you
    can't put them into the battle zone by paying its printed cost.
  </p>
  <p>There are three types of Dragheart cards; <a title="Dragheart Weapon">Dragheart Weapon</a>, <a
    title="Dragheart Fortress">Dragheart Fortress</a> and <a title="Dragheart Creature">Dragheart Creature</a>.
  </p>
  <ul>
    <li>A Dragheart weapon is put into the battle zone equipped to the draguner that put it into the battle zone. You
      can neither equip it onto another creature (Aside of an <a title="Evolution Creature">Evolution Creature</a> put
      on top of the Draguner) nor move it onto another creature. If the equipped creature leaves the battle zone, the
      weapon is returned to the hyperspatial zone.
    </li>
    <li>A Dragheart Fortress is put into the battle zone horizontally and independent from the creature that put it into
      the battle zone, but it is not tapped because it does not have a "Tap" concept. If the Dragheart Fortress leaves
      the battle zone, it is returned into the Hyperspatial zone. They are impossible to remove without cards that
      remove individual cards from the battle zone due to their card nature.
    </li>
  </ul>
  <p>The majority of Draghearts are capable of performing <a title="Dragsolution">Dragsolution</a>. When a Dragheart
    fulfills certain requirements, the player must/may flip them to the <a title="Dragheart Creature">Dragheart
      Creature</a> side, turning it into a creature with enhanced effects. Some Draghearts are capable of <a
      title="3D Dragsolution">3D Dragsolution</a>, in which if the Dragsolution requirement of a Weapon is fulfilled, it
    can flip the Fortress side, then to the Creature side.
  </p>
  <p>A Dragheart Creature with a Dragheart Fortress back may have <a title="Dragon Evade">Dragon Evade</a>, an ability
    that enables it to flip back to the fortress side when the creature would leave the battle zone. This can make the
    creature extremely difficult to remove due to the card nature of a Fortress.
  </p>
  <p>There is a Dragheart Fortress cycle that is capable of <a title="Dragsolution">Dragsolutioning</a> into a 5-card
    Dragheart. When all the required Fortresses are in the battle zone, the player flips them one by one to the
    Dragheart creature side, forming a massive Dragheart Creature consisting of 5 Dragheart Cells. If one of the
    Dragheart Cells is removed by Card Removal, all of the cards are returned into the hyperspatial zone and as the
    creature does not technically leave the battle zone this way, all destruction substitution effects on the creature
    do not trigger.
  </p>
  <h3><span class="mw-headline" id="How_to_play_a_Forbidden_card">How to play a <a title="Forbidden (supertype)">Forbidden</a> card</span>
  </h3>
  <p>A Forbidden card starts as a <a title="Forbidden Impulse">Forbidden Impulse</a> that are put into various zones at
    the start of the game. Once it is put into play (Either by paying its cost or put into the battle zone at the start
    of the game), put a number of <a title="Seal">seals</a> on it dictated on the card. Seals are cards from the top of
    your deck placed onto the impulse face down. When you put a <a title="Command">Command</a> that is the same
    civilization of the impulse, you put a seal into your graveyard. Other card effects will also allow you to put a
    seal into your graveyard too. Once there are no seals on the Impulse, it <a title="Forbidden Liberate">Forbidden
      Liberates</a> and becomes a <a title="Forbidden Creature">Forbidden Creature</a>.
  </p>
  <p>A <a title="Forbidden Creature">Forbidden Creature</a> behaves like a regular creature, but when it is anywhere
    other than the battle zone, something detrimental happens, such as forcing the creature to be put into your
    graveyard or even causing the player to lose the game. As a forbidden creature isn't put into the battle zone, it
    does not get <a title="Summoning Sickness">Summoning Sickness</a>.
  </p>
  <p>Another type of forbidden creature is a one-sided card that is put into the battle zone with a number of seals on
    it. It does nothing with the seals on it but once it has no seals on it, it behaves as if a regular creature would.
  </p>
  <p>A Forbidden card is counted towards the 40 cards in your deck, so don't accidentally pack 1 more card if you want
    to use it.
  </p>
  <h4><span class="mw-headline" id="How_to_play_a_Final_Forbidden_Field">How to play a <a title="Final Forbidden Field">Final Forbidden Field</a></span>
  </h4>
  <p>A Final Forbidden Field is similar to a Forbidden Impulse, but it consists of multiple cards. At the start of the
    game, put it into the battle zone and place a number of seals onto the field dictated by it. When each seal is
    removed, an effect occurs and when a specific seal is removed as the last seal, the Field <a
      title="Forbidden Big Bang">Forbidden Big Bangs</a> and becomes a <a title="Final Forbidden Creature">Final
      Forbidden Creature</a>, again made of 5 cards. They also have limits that are given to all of your creatures, as
    well as a limit on how the seals are removed.
  </p>
  <h3><span class="mw-headline" id="How_to_play_a_D2_Field">How to play a <a title="D2 Field">D2 Field</a></span></h3>
  <p>A <a title="D2 Field">D2 Field</a> is a type of new card introduced in <a title="Revolution Final">Revolution
    Final</a>. It is horizontal, but it only has one side and can be put into your mana zone. You put it into the battle
    zone by tapping mana. Once it is in the battle zone, it will trigger an effect, usually boosting your creatures.
    Some D2 Fields have <a title="Denjara Switch">Denjara Switch</a>, which allows you to turn a D2 Field upside down
    for an effect. Once the effect triggers, Denjara Switch can no longer be used for this D2 Field. To remove a D2
    field, use card removal or put another D2 field into the battle zone. Only one D2 field can exist in the battle zone
    at a time; this means that regardless that you or your opponent put the D2 Field into the battle zone, the existing
    one will be put into the player's graveyard.
  </p>
  <h3><span class="mw-headline" id="How_to_play_a_Neo_Creature">How to play a <a
    title="Neo Creature">Neo Creature</a></span></h3>
  <p>A NEO Creature is a creature that can be a Neo Creature or a <a title="Neo Evolution Creature">Neo Evolution
    Creature</a>. To use it, play it like a regular creature, but you may put it on top of another creature and it will
    be treated as a Neo Evolution Creature. If the creature is an Evolution creature, it is affected by card effects
    that affect Evolution Creatures and does not get summoning sickness. Usually, they have effects that involve them
    attacking or require them to be tapped or sometimes even benefits if they are Neo Evolution Creatures, recommending
    them to be evolved into instead of put into the battle zone like regular creatures.
  </p>
  <h3><span class="mw-headline" id="How_to_play_a_Twinpact">How to play a <a title="Twinpact">Twinpact</a></span></h3>
  <p>They are cards that have 2 card types. They have 2 different costs and card types, but when referring to their
    characteristics as cards, you must refer to the correct card half.
  </p>
  <p>A card such as <a title="Ichigotchi Tank / Let's Goichigo">Ichigotchi Tank / Let's Goichigo</a> has two halves of
    different costs (Creature: 7, Spell: 2). You may summon the Ichigotchi Tank creature half for its cost of 7, for a
    Nature Civilization creature with the Gransect race that has 12000 power as well as "Triple Breaker". You may also
    choose to instead to cast the Let's Goichigo spell half for its cost of 2 which puts the top card of your deck into
    your mana zone.
  </p>
  <h3><span class="mw-headline" id="How_to_play_a_Gacharange_Creature">How to play a <a title="Gacharange Creature">Gacharange Creature</a></span>
  </h3>
  <p>A Gacharange creature begins the game in your <a title="Super Gacharange Zone">Super Gacharange Zone</a>. These
    cards feature an exclusive white card back.
  </p>
  <p>You must have 12 cards in your Super Gacharange Zone if you use it and they are counted separately from your deck
    of 40 cards. There can only be a maximum of 2 copies of the same card in your Super Gacharange Zone.
  </p>
  <p>To put a Gacharange Creature from your Super Gacharange Zone into the battle zone, you need to <a
    title="Gacharange Summon">Gacharange Summon</a> them. This involves revealing the top card of your Super Gacharange
    Zone and putting it into the battle zone. This pays its cost but does not tap any of your cards in your mana zone.
  </p>
  <h3><span class="mw-headline" id="How_to_play_a_Orega_Aura">How to play a <a title="Orega Aura">Orega Aura</a></span>
  </h3>
  <p>When you use an Orega Aura card from your hand, you may attach them to one of your Gacharange Creatures in the
    battle zone, or you may Gacharange Summon and then attach it to the summoned creature.
  </p>
  <p>They are stacked sideways on Gacharange creature cards in a T-shape and the power and abilities of the Orega Aura
    are added to them.
  </p>
  <h2><span class="mw-headline" id="Attacking_your_opponent">Attacking your opponent</span></h2>
  <p>To attack with a creature, you tap one of the creatures that you want to attack with and declare what you want it
    to attack. It can attack your opponent or one of his tapped creatures in the battle zone. When a creature taps to
    attack, you don't have to tap cards in your mana zone, too; once you've paid to summon a creature, you don't have to
    pay to have it attack.
  </p>
  <p>When one of your creatures attacks your opponent and it isn't blocked, it "breaks" one of your opponent's shields.
    That means you choose one of those shields. Your opponent then picks up that shield and puts it into his hand.
  </p>
  <p>If multiple shields are broken in a single attack, they are each broken at the same time. Your opponent is then
    able to use any cards with the "<a title="Shield Trigger">Shield Trigger</a>" keyword from among them <a
      title="March 25, 2017 Rules revision">in any order</a>. If there is a
    card that has <a title="Strike Back">Strike Back</a> inside the shields, they have to wait until the next attack
    before they can use it.
  </p>
  <p>Creatures with a "<a title="Breaker">Breaker</a>" ability can break an alternate number of shields when they attack
    your opponent. If your opponent has fewer shields than your attacking creature can break, your creature doesn't
    knock out your opponent, just however many shields are left.
  </p>
  <p>When your opponent has no shields left, if one of your creatures attacks them one more time, you win the game.
  </p>
  <h3><span class="mw-headline" id="Attacking_a_tapped_creature">Attacking a tapped creature</span></h3>
  <p>When one of your creatures attacks one of your opponent's tapped creatures in the battle zone and it isn't blocked,
    then the creatures battle.
  </p>
  <p>Each creature has a power number in its lower-left corner. The creature with the higher power wins the battle. The
    loser's owner puts it into their graveyard. If the creatures have the same power number, then both creatures go to
    their owners' graveyards. Some creatures have "+" or "-" after their power. This means that the creature's power can
    increase or decrease because of something in the creature's text box.
  </p>
  <h3><span class="mw-headline" id="Effects_when_attacking">Effects when attacking</span></h3>
  <p>When you want one of your creatures to attack, choose which creature you want to attack with, tap it, and choose
    what it's attacking. Then do any effects that happen because that creature is attacking. After that, your opponent
    can choose blockers.
  </p>
  <h3><span class="mw-headline" id="Blocking_an_attack">Blocking an attack</span></h3>
  <p>Only creatures with the "<a title="Blocker">blocker</a>" ability can get in the way to stop creatures from
    attacking what the attacking player wants them to attack.
  </p>
  <p>You can use one of your "blocker" creatures to stop any attack. When your creature blocks, you have to tap it, so
    it can block only if it's untapped. Summoning sickness doesn't stop a creature from being able to block.
  </p>
  <p>When a creature blocks, it battles the attacking creature. The attacking creature can't attack what it was going to
    attack (your opponent or another creature), because it must now battle the blocker.
  </p>
  <p>The creature with the higher power wins the battle. The other creature's owner puts it into their graveyard. If the
    creatures have the same power, then both creatures go to their owners' graveyards.
  </p>
  <h3><span class="mw-headline" id="Order_of_attack_steps">Order of attack steps</span></h3>
  <p>What happens first can sometimes matter during an attack. The following rules talk about the order in which things
    happen.
  </p>
  <p>When you tap your creature to attack your opponent, do any effects that say they happen "whenever this creature
    attacks." Then, if your opponent doesn't block, follow any other instructions on your creature that apply. Then
    break shields (or win if no shields are left).
  </p>
  <p>When two creatures battle, first follow any instructions on your creature that apply. Then your opponent follows
    any instructions on his creature that apply. Then compare the powers of the two creatures. If one creature's power
    is lower, put it in its owner's graveyard. If the powers are the same, both creatures are put into their owners'
    graveyards. Then follow any effect that may trigger after the battle.
  </p>
  <p>When your opponent has no shields and you attack them, they may declare usage of a card with <a
    title="Revolution 0 Trigger">Revolution 0 Trigger</a>. If the Revolution 0 Trigger fulfills its connect requirement,
    the spell triggers or the creature gets put into the battle zone and it does something to stop the direct attack.
    While multiple Revolution 0 Triggers can be declared at the same time, if the first one fails to connect, the
    opponent loses the game. If it connects, the opponent can declare more to be used until one of them does not
    connect.
  </p>
</mat-card>
