<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Game Information</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-grid-list cols="4" rowHeight="6:1" *ngIf="game">
    <mat-grid-tile>
      <mat-chip-list>
        Name: <mat-chip>{{ game.name }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-chip-list>
        Inviter: <mat-chip>{{ game.inviter }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-chip-list>
        Game Type: <mat-chip color="primary" selected>{{ game.gameType }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="accent" *ngIf="game.firstToGo" (click)="enterGame()">
        <ng-container *ngIf="isPlayer()">It's time to DUEL....!</ng-container>
        <ng-container *ngIf="!isPlayer()">Watch 'em DUEL......!</ng-container>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-chip-list>
        Created: <mat-chip>{{ game.createdAt }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-chip-list>
        Challenger:
        <ng-container *ngIf="challengeButtonEnabled()">
          &nbsp;
          <button mat-raised-button color="primary" (click)="challenge()">Challenge!</button>
        </ng-container>
        <ng-container *ngIf="!challengeButtonEnabled()">
          <mat-chip>{{ game.challenger || 'N/A' }}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-chip-list>
        Status: <mat-chip color="accent" selected>{{ game.status }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="activeUsers.length > 0" title="Current users here">
      <mat-chip-list>
        <mat-chip class="users-chip" *ngFor="let user of activeUsers">{{ user === this.socketService.getCurrentSocketId() ? 'You' : (user.substr(0, 6) + '***') }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile>
  </mat-grid-list>

</mat-expansion-panel >

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>Game Logs</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-grid-list cols="2" rowHeight="6:1" class="chatarea">
    <mat-grid-tile rowspan="2" class="gamelogs">
      <ul>
        <li *ngFor="let msg of msgs" [innerHTML]="msg"></li>
      </ul>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
      <mat-form-field>
        <mat-select placeholder = "Coin Side" [disabled]="coinTossDisabled" #coinSide (selectionChange)="changeCoinSideSelection(coinSide.value)" [value]="opponentSelectedCoinSide">
          <mat-option value = "heads">Heads</mat-option>
          <mat-option value = "tails">Tails</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      &nbsp;
      &nbsp;
      <ng-container *ngIf="game">
        <mat-form-field *ngIf="!duelDecisionDisabled && !game.firstToGo && isPlayer()">
          <mat-select placeholder = "1st to go Duelist" [disabled]="!this.game?.challenger || duelDecisionDisabled" #duelDecision (selectionChange)="changeDuelDecisionSelection(duelDecision.value)" [value]="duelDecisionValue">
            <mat-option [value]="true">You</mat-option>
            <mat-option [value]="false">Opponent</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="game.firstToGo">
          1st to go:&nbsp;<b>{{ game.firstToGo === game.inviter ? 'Inviter': 'Challenger' }}</b>
        </ng-container>
      </ng-container>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <app-coin-toss [game]="game" [selectedSide]="opponentSelectedCoinSide" [disabled]="!this.game?.challenger || coinTossDisabled" (won)="getCoinTossResult($event)"></app-coin-toss>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
      <mat-form-field class="commentInput">
        <textarea matInput placeholder="Leave a comment" #comment (keydown)="checkKeyInput($event, comment.value)"></textarea>
      </mat-form-field>
      <mat-icon (click)="sendMessage(comment, comment.value)">send</mat-icon>
    </mat-grid-tile>

  </mat-grid-list>

</mat-expansion-panel>
