mat-expansion-panel {
  //margin: 1em auto;
  padding: 0;

  mat-expansion-panel-header {
    background-color: bisque;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .users-chip {
    font-size: 0.65em;
    min-height: auto;
    height: auto;
    padding: 5px 5px;
  }

}

.chatarea {
  mat-grid-tile {
    border: 1px solid lightgrey;
    //border-radius: 1em;
  }
}

.gamelogs {
  overflow: scroll !important;
}

.gamelogs .mat-figure {
  align-items: baseline !important;
  justify-content: left !important;

  ul {
    list-style-type: '>> ';
  }
}

.commentInput {
  padding: 1em;
  width: 100%;

  ~ mat-icon {
    float: right;
    background-color: lightgrey;
    border-radius: 50%;
    color: blue;
    padding: 0.15em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    transform: rotate(-45deg);
    cursor: pointer;
  }
}
