<mat-card>
  <p>Cards were released in Expansion Sets.</p>
  <p>A block is a series of Duel Masters Expansion sets.</p>
  <p>They are often grouped together in groups of 3, 4 or 5 sets, with a major 120-card set, and 2-4 smaller 60-card
    sets.</p>
  <p>They were sold in small packs called Booster Packs. Also various special Starter Packs, Theme Decks etc were sold
    which contained more cards than the Booster Packs.</p>

  <h2><span id="DM_Booster_Pack_Blocks_(Shobu_Era)"></span><span class="mw-headline"
                                                                 id="DM_Booster_Pack_Blocks_.28Shobu_Era.29">DM Booster Pack Blocks (<a
    title="Shobu Era">Shobu Era</a>)</span></h2>
  <p><b><a title="Beginner's Block">Beginner's Block</a></b>
  </p>
  <ul>
    <li><a title="DM-01 Base Set (OCG)">DM-01 Base Set</a></li>
    <li><a title="DM-02 Master of Evolution">DM-02 Master of Evolution</a></li>
    <li><a title="DM-03 Master of Destruction">DM-03 Master of Destruction</a></li>
    <li><a title="DM-04 Challenge of Black Shadow">DM-04 Challenge of Black Shadow</a></li>
    <li><a title="DM-05 Return of the Survivor">DM-05 Return of the Survivor</a></li>
  </ul>
  <p><b><a title="Fighting Spirit Saga">Fighting Spirit Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-06 Invincible Soul">DM-06 Invincible Soul</a></li>
    <li><a title="DM-07 Invincible Charge">DM-07 Invincible Charge</a></li>
    <li><a title="DM-08 Invincible Legend">DM-08 Invincible Legend</a></li>
    <li><a title="DM-09 Invincible Blood">DM-09 Invincible Blood</a></li>
  </ul>
  <p><b><a title="Holy Fist Saga">Holy Fist Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-10 Eternal Arms">DM-10 Eternal Arms</a></li>
    <li><a title="DM-11 Eternal Wave">DM-11 Eternal Wave</a></li>
    <li><a title="DM-12 Eternal Vortex">DM-12 Eternal Vortex</a></li>
    <li><a title="DM-13 Eternal Phoenix">DM-13 Eternal Phoenix</a></li>
  </ul>
  <p><b><a title="Reincarnation Saga">Reincarnation Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-14 Generate Gear">DM-14 Generate Gear</a></li>
    <li><a title="DM-15 Secret of Hidden Gear">DM-15 Secret of Hidden Gear</a></li>
    <li><a title="DM-16 Origin of Perfect Gear">DM-16 Origin of Perfect Gear</a></li>
    <li><a title="DM-17 The Over-Technocross">DM-17 The Over-Technocross</a></li>
  </ul>
  <p><b><a title="Phoenix Saga">Phoenix Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-19 Spectacle Nova">DM-19 Spectacle Nova</a></li>
    <li><a title="DM-20 The Ultimate Nova">DM-20 The Ultimate Nova</a></li>
    <li><a title="DM-21 History of Devil Nova">DM-21 History of Devil Nova</a></li>
    <li><a title="DM-22 The Dragonic Nova">DM-22 The Dragonic Nova</a></li>
    <li><a title="DM-23 The End of the Universe">DM-23 The End of the Universe</a></li>
  </ul>
  <p><b><a title="God Apex Saga">God Apex Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-24 Violence Heaven">DM-24 Violence Heaven</a></li>
    <li><a title="DM-25 Violence Creator">DM-25 Violence Creator</a></li>
    <li><a title="DM-26 Dragonic Wars">DM-26 Dragonic Wars</a></li>
    <li><a title="DM-27 Perfect Heaven">DM-27 Perfect Heaven</a></li>
  </ul>
  <p><b><a title="Sengoku Saga">Sengoku Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-28 Battle Galaxy">DM-28 Battle Galaxy</a></li>
    <li><a title="DM-29 Rock-on Heroes">DM-29 Rock-on Heroes</a></li>
    <li><a title="DM-30 Ultra Duel">DM-30 Ultra Duel</a></li>
    <li><a title="DM-31 Greatest Champion">DM-31 Greatest Champion</a></li>
  </ul>
  <p><b><a title="Divine Evolution Saga">Divine Evolution Saga</a></b>
  </p>
  <ul>
    <li><a title="DM-32 Evolution Saga">DM-32 Evolution Saga</a></li>
    <li><a title="DM-33 Rising Dragon">DM-33 Rising Dragon</a></li>
    <li><a title="DM-34 Cross Generation">DM-34 Cross Generation</a></li>
    <li><a title="DM-35 Neverending Saga">DM-35 Neverending Saga</a></li>
  </ul>
  <p><b><a title="Psychic Shock">Psychic Shock</a></b> <a title="Psychic Shock"><img alt="PS.png"
                                                                                     src="https://static.wikia.nocookie.net/duelmasters/images/4/43/PS.png/revision/latest/scale-to-width-down/20?cb=20170105181941"
                                                                                     decoding="async"
                                                                                     data-image-name="PS.png"
                                                                                     data-image-key="PS.png" width="20"
                                                                                     height="20"></a>
  </p>
  <ul>
    <li><a title="DM-36 Psychic Shock">DM-36 Psychic Shock</a></li>
    <li><a title="DM-37 Dark Emperor">DM-37 Dark Emperor</a></li>
    <li><a title="DM-38 Angelic Wars">DM-38 Angelic Wars</a></li>
    <li><a title="DM-39 Psychic Splash">DM-39 Psychic Splash</a></li>
  </ul>
  <h2><span id="DMR_Booster_Pack_Blocks_(Katta_Era)"></span><span class="mw-headline"
                                                                  id="DMR_Booster_Pack_Blocks_.28Katta_Era.29">DMR Booster Pack Blocks (<a
    title="Katta Era">Katta Era</a>)</span></h2>
  <p><b><a title="Episode 1">Episode 1</a></b> <a title="Episode 1"><img alt="E1.png"
                                                                         src="https://static.wikia.nocookie.net/duelmasters/images/d/de/E1.png/revision/latest/scale-to-width-down/20?cb=20200119065801"
                                                                         decoding="async" data-image-name="E1.png"
                                                                         data-image-key="E1.png" width="20" height="21"></a>
  </p>
  <ul>
    <li><a title="DMR-01 First Contact">DMR-01 First Contact</a></li>
    <li><a title="DMR-02 Dark Side">DMR-02 Dark Side</a></li>
    <li><a title="DMR-03 Gaial Victory">DMR-03 Gaial Victory</a></li>
    <li><a title="DMR-04 Rising Hope">DMR-04 Rising Hope</a></li>
  </ul>
  <p><b><a title="Episode 2">Episode 2</a></b> <a title="Episode 2"><img alt="E2.png"
                                                                         src="https://static.wikia.nocookie.net/duelmasters/images/f/f3/E2.png/revision/latest/scale-to-width-down/20?cb=20170101141854"
                                                                         decoding="async" data-image-name="E2.png"
                                                                         data-image-key="E2.png" width="20" height="21"></a>
  </p>
  <ul>
    <li><a title="DMR-05 Golden Age">DMR-05 Golden Age</a></li>
    <li><a title="DMR-06 Victory Rush">DMR-06 Victory Rush</a></li>
    <li><a title="DMR-07 Golden Dragon">DMR-07 Golden Dragon</a></li>
    <li><a title="DMR-08 Great Miracle">DMR-08 Great Miracle</a></li>
  </ul>
  <p><b><a title="Episode 3">Episode 3</a></b> <a title="Episode 3"><img alt="E3.png"
                                                                         src="https://static.wikia.nocookie.net/duelmasters/images/5/5f/E3.png/revision/latest/scale-to-width-down/20?cb=20170101141859"
                                                                         decoding="async" data-image-name="E3.png"
                                                                         data-image-key="E3.png"
                                                                         data-src="https://static.wikia.nocookie.net/duelmasters/images/5/5f/E3.png/revision/latest/scale-to-width-down/20?cb=20170101141859"
                                                                         class=" ls-is-cached lazyloaded" width="20"
                                                                         height="20"></a>
  </p>
  <ul>
    <li><a title="DMR-09 Rage vs God">DMR-09 Rage vs God</a></li>
    <li><a title="DMR-10 Dead &amp; Beat">DMR-10 Dead &amp; Beat</a></li>
    <li><a title="DMR-11 Ultra Victory Master">DMR-11 Ultra Victory Master</a></li>
    <li><a title="DMR-12 Omega Climax">DMR-12 Omega Climax</a></li>
  </ul>
  <p><b><a title="Dragon Saga">Dragon Saga</a></b> <a title="Dragon Saga"><img alt="DS.png"
                                                                               src="https://static.wikia.nocookie.net/duelmasters/images/3/37/DS.png/revision/latest/scale-to-width-down/25?cb=20170101144131"
                                                                               decoding="async" data-image-name="DS.png"
                                                                               data-image-key="DS.png"
                                                                               data-src="https://static.wikia.nocookie.net/duelmasters/images/3/37/DS.png/revision/latest/scale-to-width-down/25?cb=20170101144131"
                                                                               class=" ls-is-cached lazyloaded"
                                                                               width="25" height="25"></a>
  </p>
  <ul>
    <li><a title="DMR-13 Dragsolution Gaiginga">DMR-13 Dragsolution Gaiginga</a></li>
    <li><a title="DMR-14 Wild Dragon Gaiglen">DMR-14 Wild Dragon Gaiglen</a></li>
    <li><a title="DMR-15 Double Swords Ohginga">DMR-15 Double Swords Ohginga</a></li>
    <li><a title="DMR-16極 Super Battle Guynext x Goku">DMR-16極 Super Battle Guynext x Goku</a></li>
    <li><a title="DMR-16真 Super Battle Guynext x Shin">DMR-16真 Super Battle Guynext x Shin</a></li>
  </ul>
  <p><b><a title="Revolution (block)">Revolution</a> <a title="Revolution (block)"><img alt="Rev.png"
                                                                                        src="https://static.wikia.nocookie.net/duelmasters/images/2/23/Rev.png/revision/latest/scale-to-width-down/25?cb=20191117012719"
                                                                                        decoding="async"
                                                                                        data-image-name="Rev.png"
                                                                                        data-image-key="Rev.png"
                                                                                        data-src="https://static.wikia.nocookie.net/duelmasters/images/2/23/Rev.png/revision/latest/scale-to-width-down/25?cb=20191117012719"
                                                                                        class=" ls-is-cached lazyloaded"
                                                                                        width="25" height="24"></a></b>
  </p>
  <ul>
    <li><a title="DMR-17 Burning Dogiragon!!">DMR-17 Burning Dogiragon!!</a></li>
    <li><a title="DMR-18 Seize the Moment, Miradante!!">DMR-18 Seize the Moment, Miradante!!</a></li>
    <li><a title="DMR-19 Forbidden Dokindam X">DMR-19 Forbidden Dokindam X</a></li>
    <li><a title="DMR-20 Gyuujinmaru's True Identity!!">DMR-20 Gyuujinmaru's True Identity!!</a></li>
  </ul>
  <p><b><a title="Revolution Final">Revolution Final</a> <a title="Revolution Final"><img alt="RevF.png"
                                                                                          src="https://static.wikia.nocookie.net/duelmasters/images/d/d3/RevF.png/revision/latest/scale-to-width-down/25?cb=20210306140313"
                                                                                          decoding="async"
                                                                                          data-image-name="RevF.png"
                                                                                          data-image-key="RevF.png"
                                                                                          data-src="https://static.wikia.nocookie.net/duelmasters/images/d/d3/RevF.png/revision/latest/scale-to-width-down/25?cb=20210306140313"
                                                                                          class=" ls-is-cached lazyloaded"
                                                                                          width="25"
                                                                                          height="23"></a></b>
  </p>
  <ul>
    <li><a title="DMR-21 Team Hamukatsu and Dogiragon Buster">DMR-21 Team Hamukatsu and Dogiragon Buster</a></li>
    <li><a title="DMR-22 The World of Zero!! Blackout!!">DMR-22 The World of Zero!! Blackout!!</a></li>
    <li><a title="DMR-23 Dogiragolden VS Dormageddon X">DMR-23 Dogiragolden VS Dormageddon X</a></li>
  </ul>
  <h2><span id="DMRP_Booster_Pack_Blocks_(Joe_Era)"></span><span class="mw-headline"
                                                                 id="DMRP_Booster_Pack_Blocks_.28Joe_Era.29">DMRP Booster Pack Blocks (<a
    title="Joe Era">Joe Era</a>)</span></h2>
  <p><b><a title="Duel Masters (DMRP Block)">Duel Masters</a></b> <a title="Duel Masters (DMRP Block)"><img alt="DM.png"
                                                                                                            src="https://static.wikia.nocookie.net/duelmasters/images/0/02/DM.png/revision/latest/scale-to-width-down/25?cb=20210307084111"
                                                                                                            decoding="async"
                                                                                                            data-image-name="DM.png"
                                                                                                            data-image-key="DM.png"
                                                                                                            data-src="https://static.wikia.nocookie.net/duelmasters/images/0/02/DM.png/revision/latest/scale-to-width-down/25?cb=20210307084111"
                                                                                                            class=" ls-is-cached lazyloaded"
                                                                                                            width="25"
                                                                                                            height="19"></a>
  </p>
  <ul>
    <li><a title="DMRP-01 Here Come the Jokers!!">DMRP-01 Here Come the Jokers!!</a></li>
    <li><a title="DMRP-02 All So Truly B・A・D Labyrinth!!">DMRP-02 All So Truly B・A・D Labyrinth!!</a></li>
    <li><a title="DMRP-03 Feeling Joejoe Meraventure!!">DMRP-03 Feeling Joejoe Meraventure!!</a></li>
    <li><a title="DMRP-04裁 The Rise of Master Dragon!! ~Judgment for Justice~">DMRP-04裁 The Rise of Master Dragon!!
      ~Judgment for Justice~</a></li>
    <li><a title="DMRP-04魔 The Rise of Master Dolszak!! ~Demon Phoenix of Moonless Night~">DMRP-04魔 The Rise of Master
      Dolszak!! ~Demon Phoenix of Moonless Night~</a></li>
  </ul>
  <p><b><a title="Twinpact Series">Twinpact Series</a></b> <a title="Twinpact Series"><img alt="Twin.png"
                                                                                           src="https://static.wikia.nocookie.net/duelmasters/images/5/56/Twin.png/revision/latest/scale-to-width-down/20?cb=20190310102513"
                                                                                           decoding="async"
                                                                                           data-image-name="Twin.png"
                                                                                           data-image-key="Twin.png"
                                                                                           data-src="https://static.wikia.nocookie.net/duelmasters/images/5/56/Twin.png/revision/latest/scale-to-width-down/20?cb=20190310102513"
                                                                                           class=" ls-is-cached lazyloaded"
                                                                                           width="20" height="21"></a>
  </p>
  <ul>
    <li><a title="DMRP-05 Gokai!! Joragon Go Fight!!">DMRP-05 Gokai!! Joragon Go Fight!!</a></li>
    <li><a title="DMRP-06 Strike Back Galaxy 卍・Inferno・Annihilation!!">DMRP-06 Strike Back Galaxy
      卍・Inferno・Annihilation!!</a></li>
    <li><a title="DMRP-07 Ghira Ghira Ghiramessiah and Finaling QX!!">DMRP-07 Ghira Ghira Ghiramessiah and Finaling
      QX!!</a></li>
    <li><a title="DMRP-08 The Showdown! Baraghiara!! Invincible OraOra Ringfinity ∞">DMRP-08 The Showdown! Baraghiara!!
      Invincible OraOra Ringfinity ∞</a></li>
  </ul>
  <p><b><a title="Gacharange Series">Gacharange Series</a></b> <a title="Gacharange Series"><img alt="GR.png"
                                                                                                 src="https://static.wikia.nocookie.net/duelmasters/images/9/93/GR.png/revision/latest/scale-to-width-down/20?cb=20190310102426"
                                                                                                 decoding="async"
                                                                                                 data-image-name="GR.png"
                                                                                                 data-image-key="GR.png"
                                                                                                 data-src="https://static.wikia.nocookie.net/duelmasters/images/9/93/GR.png/revision/latest/scale-to-width-down/20?cb=20190310102426"
                                                                                                 class=" ls-is-cached lazyloaded"
                                                                                                 width="20" height="20"></a>
  </p>
  <ul>
    <li><a title="DMRP-09 New Zone Was Born! Super GR and Orega Ora!!">DMRP-09 New Zone Was Born! Super GR and Orega
      Ora!!</a></li>
    <li><a title="DMRP-10 Blue C.A.P and Black DaiBanZai">DMRP-10 Blue C.A.P and Black DaiBanZai</a></li>
    <li><a title="DMRP-11 Zero Birth! Maji's Jornado 1059!!">DMRP-11 Zero Birth! Maji's Jornado 1059!!</a></li>
    <li><a title="DMRP-12 SuperSuperSuper Top! The Awakening Joghiragon vs. Zeeron Bang-Tan!">DMRP-12 SuperSuperSuper
      Top! The Awakening Joghiragon vs. Zeeron Bang-Tan!</a></li>
  </ul>
  <p><b><a title="Ten Kings">Ten Kings</a></b> <a title="Ten Kings"><img alt="TK.png"
                                                                         src="https://static.wikia.nocookie.net/duelmasters/images/a/a8/TK.png/revision/latest/scale-to-width-down/15?cb=20200328130537"
                                                                         decoding="async" data-image-name="TK.png"
                                                                         data-image-key="TK.png"
                                                                         data-src="https://static.wikia.nocookie.net/duelmasters/images/a/a8/TK.png/revision/latest/scale-to-width-down/15?cb=20200328130537"
                                                                         class=" ls-is-cached lazyloaded" width="15"
                                                                         height="19"></a>
  </p>
  <ul>
    <li><a title="DMRP-13 Kirifuda x Onifuda King Wars!!!">DMRP-13 Kirifuda x Onifuda King Wars!!!</a></li>
    <li><a title="DMRP-14 Explosive Dragon x Explosive Rising Dynabolt!!!">DMRP-14 Explosive Dragon x Explosive Rising
      Dynabolt!!!</a></li>
    <li><a title="DMRP-15 Phantom Dragon x Swift Attack Genmu Emperor!!!">DMRP-15 Phantom Dragon x Swift Attack Genmu
      Emperor!!!</a></li>
    <li><a title="DMRP-16 The Hundred Kings x Evil King Oni Revolution!!!">DMRP-16 The Hundred Kings x Evil King Oni
      Revolution!!!</a></li>
  </ul>
  <p><b><a title="The Rise of Kings">The Rise of Kings</a></b> <a title="The Rise of Kings"><img alt="TROK.png"
                                                                                                 src="https://static.wikia.nocookie.net/duelmasters/images/c/cb/TROK.png/revision/latest/scale-to-width-down/20?cb=20210227043016"
                                                                                                 decoding="async"
                                                                                                 data-image-name="TROK.png"
                                                                                                 data-image-key="TROK.png"
                                                                                                 data-src="https://static.wikia.nocookie.net/duelmasters/images/c/cb/TROK.png/revision/latest/scale-to-width-down/20?cb=20210227043016"
                                                                                                 class=" ls-is-cached lazyloaded"
                                                                                                 width="20" height="25"></a>
  </p>
  <ul>
    <li><a title="DMRP-17 RexStars and Dispector">DMRP-17 RexStars and Dispector</a></li>
    <li><a title="DMRP-18 Miracle Forbidden">DMRP-18 Miracle Forbidden</a></li>
    <li><a title="DMRP-19 Eternal Premiums">DMRP-19 Eternal Premiums</a></li>
  </ul>
</mat-card>
